<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Post</title>
    <link th:replace="partials/links :: links"/>
</head>
<body>
    <div th:replace="partials/header :: header"></div>
    <nav th:replace="partials/navbar :: navbar"/>

    <main class="container mt-3">
        <show_post th:if="${post}">
            <div class="card">
                <div class="card-header">
                    Blog Post
                </div>
                <div class="card-body">
                    <h2 class="card-title" th:text="${post.title}"></h2>
                    <p class="card-text" th:text="${post.body}"></p>
                    <form style="display: inline" th:action="@{'/posts'}"><button type="submit" class="btn btn-secondary">List</button></form>
                    <form style="display: inline" th:action="@{'/posts/edit/' + ${post.id}}"><button type="submit" class="btn btn-primary">Edit</button></form>
                    <form style="display: inline" th:action="@{'/posts/delete/' + ${post.id}}"><button type="submit" class="btn btn-danger">Delete</button></form>
                    <p class="mt-3"><strong>Email:</strong> <span th:text="${post.user.email}"></span></p>
                </div>
            </div>

        </show_post>
    </main>

    <div th:replace="partials/footer :: footer"></div>
    <div th:replace="partials/scripts :: scripts"/>
</body>
</html>